@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');
*{
    margin: 0;
}

header{
    background-color: gold;
    height: 170px;
    position: fixed;
    min-width: 100vw;
}
h1{
    text-align: center;
    padding-top: 27px;
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
    font-weight: 700;
    
}


@media (width: 100px) {
    nav {
        width: 50px;
    }
  }

 .work{
    width: 100vw;
    padding-top: 265px;
    height: 350px;
    background-color: whitesmoke;
  }
.hran{
    width: 100vw;
}
h2{
    font-size: 30px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    color: black;
  
    text-align: center;
}
.opiss{

    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    padding: 0 10px 0 10px;

}

.text_block{
    margin: 0 auto;
    max-width: 600px;
}

.hran{
    width: 100vw;
    height: 450px;
    background-color: whitesmoke;
}

.hran_h{
    padding-top: 24.9px;
}

footer{
    height: 200px;
    background-color: black;
}

.kontakt{
    padding-top: 15px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    color: whitesmoke;
}

.main_calcul{
    padding-top: 265px;
    height: 784.5px;
    background-color: whitesmoke;
}


.chek{
    
color: goldenrod;
}

.calcul_block{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.vibor1{
    margin-top: 7.5px;
    width: 210px;
    height: 40px;
    font-size: 25px;
    border-radius: 6px;
    font-family: 'Oswald', sans-serif; 
    background-color: whitesmoke;

}

.vibor2{
    margin-top: 7.5px;
    width: 452px;
    height: 40px;
    font-size: 32px;
    border-radius: 6px;
    font-family: 'Oswald', sans-serif; 
    background-color: whitesmoke;

}

.vibor2::placeholder{
    margin-top: 7.5px;
    
    height: 40px;
    font-size: 29px;
    border-radius: 6px;

    font-family: 'Oswald', sans-serif; 

}



.change_position{
    padding-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(252, 223, 59);
    height: 31px;
    color: whitesmoke;
    border-radius: 100px;
    outline: none;
    width: 30px;

}

.change_position :hover{
    background-color: rgb(252, 223, 59);
    height: 40px;
    color: whitesmoke;
    border-radius: 8px;

}

#result{
    font-size: 25.2px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    color: black;
  
    text-align: center;
}

.info{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 500;

}

.info_block{
    
    margin: 0 auto;
    margin-top: 50px;
    width: 450px;
}
.image{
    width: 48px;
    padding-top: 20px;
}
.vals_block{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    
}
.val_block {
    text-align: center;
    
}

/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
  }
  /* стилизуем кнопку */
.menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  /* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: black;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }
  /* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #616161;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

#print{
    font-family: 'Oswald', sans-serif;
    color: black;
    font-size: 25px;

}
.course_bitecoin, .course_ETH, .course_Monero{
    font-family: 'Oswald', sans-serif;
    color: black;
    font-size: 19.6px;}